@import '~materialize-css/dist/css/materialize.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=email]:not(.browser-default), 
input[type=password]:not(.browser-default) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

input[type=email]:not(.browser-default) + label, 
input[type=password]:not(.browser-default) + label {
  color: #fff;
}

input[type=email]:not(.browser-default):focus:not([readonly]) + label, 
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: yellow;
}